@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* GLOBAL */

body {
  /* background-color: #000000;  */
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  /* font-family: 'Roboto', sans-serif; */
}

h2,h3{
  color: #fff;
  line-height:1.2
}

p {
  line-height: 1.6;
  color : #fff;
}

h1,a {
  text-decoration: underline;
  color: #26619c;
  line-height: 1.2;
}

a {
  color: #fff;
}

.title {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding-top: 5%;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 1%;
}

.highlighted {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a + a {
  margin-left: 10px;
}

:: selection {
  background: #fff;
}


/* hover */

.link-hover {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.link-hover:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6%;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: #000;
  transition: all ease 0.3s;
}

.link-hover:hover {
  color: #000;
}

.link-hover:hover:after {
  height: 100%
}

.link-hover.blue:after {
  background: #fff;
}
